#eye-l, #eye-r {
    position:absolute;
    z-index: 20;
    height: 10px;
    border-radius: 50%;
    background: rgb(255,255,255);
    margin-top:5px;
    left: 5px;
    margin-left: -5px;
    animation: search 2.3s infinite;
    -o-animation: search 2.3s infinite;
    -ms-animation: search 2.3s infinite;
    -webkit-animation: search 2.3s infinite;
    -moz-animation: search 2.3s infinite;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 3px solid rgb(255,0,0);
}

#eye-r {
    margin-left: 5px;
}

#nose {
    position:relative;
    width: 15px;
    height: 15px;
    border: 3px solid rgb(255,0,0);
    border-radius: 50%;
    border-top-color: transparent;
    background: rgb(255,255,255);
    top:12px;
    left:-7px;
    transform: rotate(35deg);
    -o-transform: rotate(35deg);
    -ms-transform: rotate(35deg);
    -webkit-transform: rotate(35deg);
    -moz-transform: rotate(35deg);
    animation: noser 2.3s infinite;
    -o-animation: noser 2.3s infinite;
    -ms-animation: noser 2.3s infinite;
    -webkit-animation: noser 2.3s infinite;
    -moz-animation: noser 2.3s infinite;
}

#mouth{
    position:relative;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: rgb(255,0,0);
    margin-top:19px;
    float:left;
    margin-left: 3px;
    animation: search 2.3s infinite;
    -o-animation: search 2.3s infinite;
    -ms-animation: search 2.3s infinite;
    -webkit-animation: search 2.3s infinite;
    -moz-animation: search 2.3s infinite;
}

#man {
    position:relative;
    width: 49px;
    height: 68px;
    border: 5px solid rgb(255,0,0);
    border-radius: 50%;
    margin-left:50%;
    left: -24px;
    animation: pop 9.2s infinite;
    -o-animation: pop 9.2s infinite;
    -ms-animation: pop 9.2s infinite;
    -webkit-animation: pop 9.2s infinite;
    -moz-animation: pop 9.2s infinite;
}


@keyframes search {
    0%, 100% { transform:translate(0px, 0px);}
    50% {transform:translate(31px, 0px);}
}

@-o-keyframes search {
    0%, 100% { -o-transform:translate(0px, 0px);}
    50% {-o-transform:translate(31px, 0px);}
}

@-ms-keyframes search {
    0%, 100% { -ms-transform:translate(0px, 0px);}
    50% {-ms-transform:translate(31px, 0px);}
}

@-webkit-keyframes search {
    0%, 100% { -webkit-transform:translate(0px, 0px);}
    50% {-webkit-transform:translate(31px, 0px);}
}

@-moz-keyframes search {
    0%, 100% { -moz-transform:translate(0px, 0px);}
    50% {-moz-transform:translate(31px, 0px);}
}

@keyframes noser {
    0%, 100% { transform:translate(0px, 0px) rotate(35deg);}
    50% {transform:translate(42px, 0px) rotate(-35deg);}
}

@-o-keyframes noser {
    0%, 100% { -o-transform:translate(0px, 0px) rotate(35deg);}
    50% {-o-transform:translate(42px, 0px) rotate(-35deg);}
}

@-ms-keyframes noser {
    0%, 100% { -ms-transform:translate(0px, 0px) rotate(35deg);}
    50% {-ms-transform:translate(42px, 0px) rotate(-35deg);}
}

@-webkit-keyframes noser {
    0%, 100% { -webkit-transform:translate(0px, 0px) rotate(35deg);}
    50% {-webkit-transform:translate(42px, 0px) rotate(-35deg);}
}

@-moz-keyframes noser {
    0%, 100% { -moz-transform:translate(0px, 0px) rotate(35deg);}
    50% {-moz-transform:translate(42px, 0px) rotate(-35deg);}
}
